<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942256929814-8712d7chssujn588aq46di8him62rfrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942256929814-8712d7chssujn588aq46di8him62rfrt</string>
	<key>API_KEY</key>
	<string>AIzaSyB5AG8oHwm-kxdJ5AlqvJz2qNo6T7mOZdU</string>
	<key>GCM_SENDER_ID</key>
	<string>942256929814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sync.alFurqanSchool</string>
	<key>PROJECT_ID</key>
	<string>alfarquan-c4250</string>
	<key>STORAGE_BUCKET</key>
	<string>alfarquan-c4250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942256929814:ios:f2d541d297a80803c28937</string>
	<key>DATABASE_URL</key>
	<string>https://alfarquan-c4250-default-rtdb.firebaseio.com</string>
</dict>
</plist>